/* Custom styles for cards */
.card {
    transition: transform 0.3s ease-in-out;
}

.card-img-top {
    border-radius: 5%;
}




.card:hover {
    transform: scale(1.05);
}

/* Custom button style */
.btn-custom {
    background-color: #6c5ce7;
    color: white;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: white;
}

/* Custom background for specific sections */
.custom-bg {
    background-color: #372013;
    padding: 11px;
    border-radius: 0px;
}

.card {
    border-radius: 5%;
}

.cardtext {
    color: white;
    text-align: center;
}

.card-text {
    color: black;
}