{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{vehicle.image}}"
        class="img-fluid rounded img-thumbnail"
        style="width: 800px"
        alt="Picture of {{vehicle.name}}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title text-center">{{vehicle.name}} Details</h3>
        <h5 class="card-text text-center">"{{vehicle.quote}}"</h5>
        <p class="card-text text-center"><b></b>{{vehicle.description}}</p>
        <p class="card-text"><b>Owner/Driver: </b> {{vehicle.owner}}</p>
        <p class="card-text"><b>Odometer: </b>{{vehicle.odometer}}</p>
        <p class="card-text"><b>Vehicle Type: </b> {{vehicle.type}}</p>
        <p class="card-text"><b>Make: </b>{{vehicle.make}}</p>
        <p class="card-text"><b>Model:</b> {{vehicle.model}}</p>
        <p class="card-text"><b>Year: </b>{{vehicle.year}}</p>
        <p class="card-text"><b>Features: </b>{{vehicle.features}}</p>
        <p class="card-text">
          <b>Current Issues: </b> {{vehicle.currentissues}} <br />
          <br /><b>Previous Issues: </b>{{vehicle.previousissues}}
        </p>
      </div>
    </div>
  </div>
</div>



{%endblock%}
